<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nory</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">a123456.pol</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        
        <mapping class="ma.nory.models.User"/>
        <mapping class="ma.nory.models.Role"/>
        <mapping class="ma.nory.models.Fuel"/>
        
    </session-factory>
</hibernate-configuration>
